<% author = @gossip.user %>

<% if @success %>
<div class="alert alert-success">
  <p>Nouveau potin bien modifié</p>
</div>
<% end %>

<div class="card text-center">
    <div class="card-header">
      <h1><%= @gossip.title %></h1>
    </div>
    <div class="card-body">
      <h2 class="card-title">
        <small>de <%= link_to author.first_name + " " + author.last_name, user_path(author.id)%> ( <%=  link_to author.city.name,  city_path(author.city.id)%> ) </small>
      </h2>
      <blockquote class="card-text display-4"><%= @gossip.content %></blockquote>
      <p><%=link_to "Editer le potin", edit_gossip_path(@gossip.id), class: "btn btn-info" %></p>
    </div>
    <div class="card-footer text-muted">
      <p>
        <% @gossip.tags.each do |tag| %>
        <%= tag.title %>
        <% end %>
      </p>
      <p>
        Modifié le : <%= @gossip.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>
      </p>
      <a href="<%= root_path%>" class="btn btn-primary">Page d'accueil</a>
    </div>