<!DOCTYPE html>
<html lang="fr">
<head>
  <title>The Gossip Project : Final Version Of The Gods</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">The Gossip Project &trade;</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= team_path %>">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= contact_path %>">Contact</a>
          </li>
          <% unless session[:user_id] %>
          <li class="nav-item">
            <div class="dropdown show">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connexion
              </a>
              <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                <a class="nav-link" href="<%= new_user_path %>">S'inscrire</a>
                <a class="nav-link" href="<%= new_session_path %>">Se connecter</a>
              </div>
          </li>
          <% else%>
          <li>
            <a href="<%= session_path(session[:user_id]) %>" class="nav-link" data-method= "delete">Se deconnecter</a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <main class="container">
    <%= yield %>
  </main>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; The best Team 2019</p>
    </div>
  </footer>
</body>
</html>
